html {
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

  .adminHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  .subAdminHeader1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .subAdminHeader1 img {
    width: 50px;
  }
  .subAdminHeader1 p {
    font-weight: bolder;
    font-size: 20px;
    color: gray;
  }
  .subAdminHeader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .subAdminHeader2 img {
    width: 22px;
  }
  .detailDashboard {
    margin: 3% 10%;
    padding: 5%;
    background-color: #00B776;
    border-radius: 10px;
    
    color: white;
  }
  .detailDashboard p {
    font-size: 13px;
  }
  .childDetailDashboard1 {
    display: flex;
    justify-content: space-between;
  }
  .childDetailDashboard2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
  }
  .childDetailDashboard2 p {
    font-size: 12px;
  }


  .icons {
    padding: 6% 4%;
  }
  .subIcons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    align-items: center;
  }
  .childIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .imgDiv {
    background-color: #E1F6EA;
    width: fit-content;
    border-radius: 100%;
    padding: 10px;
  }
  .imgDiv img {
    width: 25px;
  }
  .childIcons p {
    font-size: 12px;
    color: gray;
  }

  @media (max-width: 700px) {
    .subIcons {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
  }

  .transationHistory {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                        0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10% 5px;
    border-radius: 10px;
    padding: 10% 15%;
  }
  .transationHistory h4 {
    font-size: 20px;
  }
  .transationHistory p {
    font-size: 14px;
  }


  /* alert when any of the icons is clicked */
  .useLiveChat {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 100px;
    right: 90px;
    background-color: black;
    color: #00B776;
    width: 60%;
    padding: 10%;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;

    border-radius: 151px 138px 0px 152px;
    -webkit-border-radius: 151px 138px 0px 152px;
    -moz-border-radius: 151px 138px 0px 152px;
  }
  .liveChatNotificationShow {
    display: block;
    opacity: 1;
  }

  /* transation history notification */
  .notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #00B776;
    padding: 20%;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.notification.show {
    display: block;
    opacity: 1;
}


/* transation history */
.transationHistorys {
  
  opacity: 0;
  transition: 0.15s ease-in-out;
}
.showTransaction {
  position: absolute;
  top: 160px;
  right: 20px;
  background-color: white;
  width: 80vw;
  height: 60vh;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                        0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5%;
  opacity: 2;
  transition: 0.15s ease-in-out;
}
.transationHistorys h2 {
  font-size: 1.5rem;
  text-align: center;
  color: gray;
}
.subtransationHistory {}
.childtranHistory {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.green {
  color: #00B776;
}
.red{
  color: red;
}
.usdt {}
.withdrawal{}